body {
    background-image: url("templates/red.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 25px;
    font-family: "Verdana", sans-serif;
    -webkit-text-fill-color: white;
}

div.head{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: darkblue;
}
input{
    background-color: brown;
}



table.center {
    margin-left:auto;
    margin-right:auto;
    font-size: 22px;
}
