<table>
    <form method="post" action="?command=save">
        <p tpl-if="$errors" id="error-block">
        <div>
            <table class="center">
                <tr>
                    <td>{{$errors[0]}}</td>
                </tr>
                <tr>
                    <td>{{$errors[1]}}</td>
                </tr>
            </table>

        </div>
        </p>

        <div class="inputs">
            <table class="center">
                <tr>
                    <td><input type="text" placeholder="Eesnimi" name="firstName" value="{{ $personItem->firstName }}"/>
                    </td>
                </tr>
                <tr>
                    <td><input type="text" placeholder="Perenimi" name="lastName" value="{{ $personItem->lastName }}"/>
                    </td>
                </tr>
                <tr>
                    <td><input type="text" placeholder="Telefoninumber" name="phone1"
                               value="{{ $personItem->phones[0] }}"/></td>
                </tr>
                <tr>
                    <td><input type="text" placeholder="Telefoninumber" name="phone2"
                               value="{{ $personItem->phones[1] }}"/></td>
                </tr>
                <tr>
                    <td><input type="text" placeholder="Telefoninumber" name="phone3"
                               value="{{ $personItem->phones[2] }}"/></td>
                </tr>
                <tr>
                    <td><input type="submit" name="submitButton" value="Salvesta"></td>
                </tr>
            </table>
        </div>

    </form>
</table>