<table class="center">
    <tr>
        <th>EESNIMI</th>
        <th>PEREKONNANIMI</th>
        <th>TELEFON</th>
    </tr>
    <div tpl-foreach="$personItems as $item">
        <tr>
            <td> <a href="?command=edit&id={{$item->id}}"> {{urldecode($item->firstName)}}</a></td>
            <td>{{urldecode($item->lastName)}}</td>
            <td>{{urldecode(implode(', ',$item->phones))}}</td>
        </tr>
    </div>
</table>