<!DOCTYPE html>
<html lang="et">
    <head>
        <meta charset="UTF-8">
        <title>Projekt</title>
        <link href="../style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <div class="head">
            <a id="list-page-link" href="../index.php">Nimekiri</a>
            <a id="add-page-link" href="../index.php?command=show_add_page">Lisa</a>
            <h1>Nimed</h1>
            <div tpl-include="{{ $subTemplate }}"></div>
        </div>
    </body>
</html>